Data/Environmental_data/Soil[[:space:]]Order[[:space:]]Series filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/TNC[[:space:]]Ecosystems[[:space:]]Before[[:space:]]and[[:space:]]Current filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Wet[[:space:]]Canopy[[:space:]]Evaporation filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Available[[:space:]]Soil[[:space:]]Moisture filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Oahu_Elevation_Contours_100ft filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Bioclim[[:space:]]Variables filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Soil[[:space:]]Nutrient[[:space:]]Holding[[:space:]]Capacity filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Forest[[:space:]]Canopy[[:space:]]Bulk[[:space:]]Density[[:space:]]2022 filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Forest[[:space:]]Canopy[[:space:]]Cover[[:space:]]2022 filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Leaf[[:space:]]Area[[:space:]]Index filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Slope[[:space:]]Percent[[:space:]]Rise filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Soil[[:space:]]Shrink[[:space:]]and[[:space:]]Swell filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Canopy[[:space:]]Wetness[[:space:]]Fraction filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Cloud[[:space:]]Frequency filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Forest[[:space:]]Canopy[[:space:]]Base[[:space:]]Height[[:space:]]2022 filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Forest_Height_2013 filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Annual[[:space:]]Rainfall[[:space:]]MM[[:space:]]GIS filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Existing[[:space:]]Vegetation[[:space:]]Cover[[:space:]]2022 filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Fog[[:space:]]Cover filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/SO2[[:space:]]-[[:space:]]Active filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Soil[[:space:]]Organic[[:space:]]Matter filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Soil[[:space:]]pH filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Actual[[:space:]]Evapotranspiration[[:space:]](mm) filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Cloud_Free_Satellite_2019-2021 filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Relative[[:space:]]Humidity filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Existing[[:space:]]Vegetation[[:space:]]Height[[:space:]]2022 filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Existing[[:space:]]Vegetation[[:space:]]Type filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Slope[[:space:]]Degrees filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Soil[[:space:]]Evaporation filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Soil[[:space:]]Fertility[[:space:]]Class filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Soil[[:space:]]Water[[:space:]]Permeability filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Wind[[:space:]]Speed[[:space:]]GIS filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Elevation filter=lfs diff=lfs merge=lfs -text
Data/Environmental_data/Forest[[:space:]]Canopy[[:space:]]Height[[:space:]]2022 filter=lfs diff=lfs merge=lfs -text
